.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: flex-end;

  a {
    padding: 2rem;
    font-size: 2rem;
    background: $light-bg;
    flex: 1;
    color: $white;
    text-align: center;
    transition: 0.2s linear;

    i {
      color: $crimson;
      padding-right: 0.5rem;
    }

    &:hover {
      background: $crimson;
      padding-bottom: 6rem;

      i {
        color: $white;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    a {
      i {
        padding: 0;
      }

      span {
        display: none;
      }

      &:hover {
        padding-bottom: 2rem;
      }
    }
  }
}
